<header>
  <a href="/">
    <img class="index-logo"
      src="/src/assets/images/Logo.png"
      alt="Hopes Ignite Logo"
      loading="lazy"
    />
  </a>
  <nav aria-label="Main Navigation">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/music/">Music</a>
    <a href="/tour/">Tour</a>
    <a href="/merch/">Merch</a>
    <a href="/contact/">Contact</a>
  </nav>
</header>
